@model LancheModel

<div class="col-sm-4 col-md-4 col-lg-4 fadeIn">
    <p><img src="@Model.ImagemUrl" class="img-fluid formato-imagem" /></p>
    <h3 style="color:white;">Preço: @Model.Preco.ToString("c")</h3>
    <h4>
        <a id="nome-lanche" style="text-decoration:none;" asp-controller="Lanche" asp-action="Details" asp-route-Id="@Model.Id">@Model.Nome</a>
    </h4>

    <p style="color:white">@Model.DescricaoCurta</p>

    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
               asp-action="AdicionarItemNoCarrinhoCompra" asp-route-Id="@Model.Id">
               Incluir no carrinho</a>
        </p>
    </div>
</div>