@model VendaDeLanches.Models.ContatoModel

@{
    ViewData["Title"] = "Excluir mensagem";
}

<br/>
<div class="alert alert-secondary" role="alert">
    <p class="mb-0" style="color:black">
        Atenção: Antes de excluir uma mensagem, garanta que a mesma tenha sido respondida.
    </p>
</div>

<h1>Excluir mensagem</h1
<h4>Tem certeza que quer fazer isso?</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvioDaMensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvioDaMensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailParaContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailParaContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
